/*Navbar design*/
@font-face {
    font-family: "AmiriFont";
    src: url(../fonts/AmiriQuran-Regular.ttf);
}
@font-face {
    font-family: "MessiriFontReguler";
    src: url(../fonts/ElMessiri-Regular.ttf);
}
@font-face {
    font-family: "MessiriFontBold";
    src: url(../fonts/ElMessiri-Bold.ttf);
}

@font-face {
    font-family: "MessiriFont";
    src: url(../fonts/ElMessiri-VariableFont_wght.ttf);
}
@font-face {
    font-family: "MessiriFontSemi";
    src: url(../fonts/ElMessiri-SemiBold.ttf);
}

@font-face {
    font-family: "TajawalFontReguler";
    src: url(../fonts/Tajawal-Regular.ttf);
}
@font-face {
    font-family: "TajawalFontBold";
    src: url(../fonts/Tajawal-Bold.ttf);
}
@font-face {
    font-family: "TajawalFontExtraBold";
    src: url(../fonts/Tajawal-ExtraBold.ttf);
}

@font-face {
    font-family: "TajawalFontMid";
    src: url(../fonts/Tajawal-Medium.ttf);
}

@font-face {
    font-family: "TajawalFontLight";
    src: url(../fonts/Tajawal-Light.ttf);
}

@font-face {
    font-family: "TajawalFontExtraLight";
    src: url(../fonts/Tajawal-ExtraLight.ttf);
}

@font-face {
    font-family: "LemonBold";
    src: url(../fonts/Lemonada-Bold.ttf);
}
@font-face {
    font-family: "LemonReguler";
    src: url(../fonts/Lemonada-Regular.ttf);
}
@font-face {
    font-family: "LemonLight";
    src: url(../fonts/Lemonada-Light.ttf);
}



:root {
  --body-theme:#0c1017;
  --continer-theme:#21262d;
  --text-color:#fff;
  --formatBtn-color: #313131;
}

body {
    /*#212121
          $background : #1c1c1c;
      $card : #1c1e21;
      var(--continer-theme): #2A2A2A;
      var(--formatBtn-color) : #313131;
          */
    background-color: var(--body-theme);
    /*   font-family: 'Arsenal', sans-serif;
          font-family: 'Asap Condensed', sans-serif;
          font-family: sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
    
    color: var(--text-color);

    

    overflow-x: hidden;
    p{
        font-family: MessiriFontReguler;
    }
  }

nav{

    font-family: AmiriFont,"Open Sans", sans-serif;
    .navbar-brand{
        font-size: 30px;
      }


      li{
        font-size: 20px;
      }
}

.title{
    font-family: AmiriFont;
}
.banner{
    position: relative;
    .image-section{
        position: relative;
        

        img{
            border-radius: 12px;
        }

    }
    .description-section{
        display: none;
    }

    .description-section2{
        position: absolute;
        width: 400px;
        text-align: start;
        bottom: -150px;
        left: -50px;
    }
    .description-section2 , .description-section{
        
        
        background-color: var(--continer-theme);
      
        color: var(--text-color);
        border-radius: 12px;

        h4{
            font-family: LemonReguler;
        }

        p{
            font-family: MessiriFontReguler;
            font-size: 20px;
        }
        a{
            
            text-decoration: none;
            color: #fff;
            font-size: 23px;
            
            padding: 0px 17px;
            transition: 0.5s;
            border-radius: 8px;
            
        }

        a:hover{
            background-color: #2f343b;
        }

    }

    h1{
        font-family: LemonReguler;
        max-width: 60%;
        font-size: 28px;
    }

}


// about us من نحن 

.aboutus{
    margin-top: 250px;
    margin-bottom: 80px;

    p{
        font-family: MessiriFontReguler;
        font-size: 20px;
    }
}

.square{
    font-family: MessiriFontReguler;
    position: relative;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white !important;
    text-decoration: none !important;  
    
    
    
    z-index: 5;
    background: linear-gradient(45deg, #ff0b0b -5%,#6d2626);
    min-height: 100px;
    padding-top:8px ;
    padding-right: 8px;
    i{
        font-size: xx-large;
    }
}

.square::before, .square::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }


  .prev-work-boxes{

    div{
        background-color: #21262d;
        width: 100px;
        padding: 15px 10px;
        border-radius: 7px;
        margin-top: 10px;
        i{
            font-size: 35px;
        }
    }
  }

  .images-preview{
    
    .image-item{
        width: 200px;
        height: 150px;
        overflow: hidden;
        margin-top: 20px;
        img{
            cursor: zoom-in !important;
            min-height: 170px;
        }
    }
  }
@media(max-width:962px) {
    .description-section2{
        position: absolute;
        width: 300px !important;
        text-align: start;
    
    
        h4{
            font-family: LemonReguler;
            font-size: large;
        }

        p{
            
            font-size: 15px !important;
        }
    }
}

@media(max-width:614px) {

    
    .square{
        min-height: 130px;
    }
    .aboutus{
        margin-top: 70px;
    }
    .description-section{
        display: block !important;
    }
    .description-section2{
        display: none;
    }

    .banner{
        h1{
         
            max-width: 100%;
            font-size: 18px;
        }
    }
}

@media(max-width:415px) {
    .images-preview{
        .image-item{
            width: 175px;
            height: 150px;
        }
    }
}

